<div class="container my-5">
  <img loading="lazy" src="/assets/Images/pexels-atef-khaled-825144-1833082.jpg" alt="Me">
  <p>
    I am currently studying Computer Science at Mansoura University, where I'm passionate about solving real-world
    problems through technology.

    My main focus is on backend development, and I specialize in building robust, scalable web applications using
    modern technologies. I have hands-on experience in creating APIs, managing databases, and implementing secure
    authentication systems.

    In addition to my academic journey, I’ve had the opportunity to teach a backend development course at Route
    Academy, where I guided aspiring developers through essential concepts like RESTful APIs, databases, and
    server-side logic.

    I'm constantly learning and growing, aiming to contribute to impactful projects and make a difference in the tech
    community.
  </p>
</div>